Package: us.nakedproductions.stayopened
Name: StayOpened
Depends: mobilesubstrate
Version: 1.5
Architecture: iphoneos-arm
Description: Stop the AppStore from closing when you download applications
Maintainer: EvilPenguin|
Author: EvilPenguin|
Section: Tweaks
