Package: us.nakedproductions.stayopened
Name: StayOpened
Depends: mobilesubstrate
Version: 1.4
Architecture: iphoneos-arm
Description: StayOpened 1.4
Maintainer: EvilPenguin|
Author: EvilPenguin|
Section: Tweaks
